h1{
    color: black;
    font-size: 50px;
    text-align: center;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ddeefc;
    font-family: 'lato', 'sans-serif';
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.tarjeta{
    width: 100%;
    max-width: 550px;
    cursor: pointer;
}

.tarjeta > div {
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* ESTILO EN PARTE DELANTERA DE LA TARJETA */
.tarjeta .delantera {
    width: 1000px;
    max-width: 550px;
    background: url(./../image/milky-way-2695569_1280.jpg);
    background-size: cover;
}

.delantera .logo-marca {
    text-align: right;
    min-height: 50px;
}

.delantera .logo-marca img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 80px;
}

.delantera .chip {
    width: 100%;
    max-width: 50px;
    margin-bottom: 20px;
}

.delantera .grupo .label {
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

.delantera .flexbox {
    display: flex;
    justify-content: space-between;
}

/* ESTILO EN PARTE TRASERA DE LA TARJETA */
.trasera {
    background: url(./../image/milky-way-2695569_1280.jpg);
}
.trasera .codigo-barra {
    height: 40px;
    background: black;
    width: 105%;
    position: relative;
    top: 30px;
    left: 0;
}
.trasera {
    margin-top: 60px;
    display: flex;
    justify-content: space-between
}
.trasera .datos p {
    margin-bottom: 5px;
}
.trasera .datos #firma {
    width: 70%;
}

.leyenda {
    color: white;
    font-size: 9px;
}

.label {
    color: white;
}

.link-banco {
    color: white;
}

.validar {
    cursor: pointer;
    border-radius: 15px;
    font-size: 15px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 15px;
    color:azure;
}